@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
  font-family: 'Dancing Script', cursive;
}

.scroll-container {
    height: calc(100vh - 2rem); /* Adjust this value to set the desired height */
    overflow-y: auto;
  }

  /* Hide the scrollbar */
  .scroll-container::-webkit-scrollbar {
    width: 0.5rem; /* Set the width of the scrollbar if needed */
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);; /* color of the thumb */
  border-radius: 10px; /* roundness of the thumb */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 88);; /* color of the thumb on hover */
}